* {margin:0; border:0; padding:0;}
html {font-size: 100%;}
body {font-family: 'Oxygen', sans-serif;
background-image: url(img/layout/testbg.jpg); background-size: cover;}

h1, h2, h3, h4, h5, h6 {font-family: 'Oxygen', sans-serif;}
h1 {font-size: 5em;padding-top: 10px;font-weight: bold;}
h2 {font-size: 3em;padding-top: 10px;font-weight: bold;}
h3 {font-size: 2.5em;font-weight: 300;opacity: 0.6;}
h4 {font-size: 2em;font-style: italic;}
h5 {font-size: 2em;font-weight: bold;}
h6 {font-size: 1em;}

header {background: #000;opacity: 0.8;}
header {height: 4em;padding: 0 3em;}

main > * {display:flex; max-width:1201px;border:1px solid black;margin-top:20px !important; margin-left: auto !important;margin-right: auto !important;}

#textLogo {height:100%;width: auto;}
#callToAction {margin:25px auto;}

#headerButtons {list-style: none;z-index: +1;margin:auto 5px;}
#headerButtons li {border-radius: 50%;transition: opacity 0.2s ease;margin:auto 5px;float:left;}
#headerButtons div {background-clip: padding-box;width: 2rem;height: 2rem;border-radius: 50%;text-align: center;}
#headerButtons a:link {font-size: 1rem;color: inherit;line-height: 2rem;}
#headerButtons a:visited {color: inherit;}
#headerButtons div {color: #FFF;border: 2px solid #FFF;box-shadow: 0 0 0 2px #333;}
#headerButtons div {background-color: #333;}
#headerButtons div {transition: background-color 0.5s ease-in;}
#headerButtons div {transition: color 0.5s ease-out;}
#headerButtons div:hover {background-color: rgba(0, 0, 0, 0);color:#222;}
#headerButtons:hover > li {opacity: 0.4;}
#headerButtons:hover > li:hover {opacity: 1.0;}
#headerButtons li:hover a {text-decoration: none;}

#banner {margin-top:4em;}

.bg_white {background-color:rgba(255,255,255,0.8);}

#things div {opacity:0.6;background-color:#222;}
 #things div:nth-child(odd) {background-color:#333;}
/*#things div:nth-child(2) {background-color:#9900FF;}
#things div:nth-child(3) {background-color:#FF0099;}
#things div:nth-child(4) {background-color:#8822CC;}
#things div:nth-child(5) {background-color:#FF6611;}
#things div:nth-child(6) {background-color:#bada55;} */
#things a:link {text-decoration:none;}
#things div > * {margin:0.5em auto;text-align:center;opacity:0.8}
#things .fa {font-size:2.5em;color:#FFF;opacity:0.8;padding:0.5em;}
#things p {font-size:1.5em;padding:0.1em 0.5em;color:#FFF;font-weight:300;opacity:0.8;}

.fluffy > * {margin: 0.25em;}
.fluffier > * {margin: 0.5em;}
.fluffiest > * {margin: 1em;}

#postMatrix {background:#DADADF;display: inherit;}
#postMatrix > * {padding:0 20px;}
#postMatrix h3 {width:100%;}
#postMatrix div.postDots {display:flex;flex-direction:row;flex-wrap:wrap;}
#postMatrix .fa {background:rgba(0,0,0,0.6);border-radius:50%;color:#FFF;border-radius: 50%;
margin: 0.4em;
height: 1.5em;
width: 1.5em;
font-size: 1.2em;
line-height: 1.5em;}
.postHighlight .fa {transform: scale(1.3,1.3);}
.postHighlight {background:#FFF;border-radius:10px;border:1px solid black;margin:0.5 1em;padding:2em;}
.postHighlight p {font-size:1.8em;margin:10px;color:#444;font-weight:300;font-family:tahoma;}
.postHighlight figcaption {font-size:0.9em;font-style:italic;opacity:0.8;}
#postMatrix .fa-facebook {background:#3D5DA2;opacity:0.8;}
#postMatrix .fa-twitter {background:#333;color:#0099CC;opacity:0.8;}
#postMatrix .fa-youtube {background:crimson;}
#postMatrix .fa-instagram {background:brown;color: bisque;}
#postMatrix .fa-medium {background:black;color:white;}

.goAway {
    display: none;
}

#face {
    width: 15em;
    height: 15em;
    margin: 2em 6em 2em 2em;
    border: 3px solid #FFF;
    box-shadow: 0 0 0 2px #333;
    border-radius: 50%
}


.bump {
    height: 1em;
}

.info_box {
    min-width: fit-content;
    text-decoration: none;
    margin: 0.1em 0.1em 0em;
    padding: 0.2em;
    color: white;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
}
.info_box .fa {
    font-size: 1.2em;
}
.info_location .fa {
    color: red;
}
.info_contact .fa {
    color: deepskyblue;
}
.info_resume .fa {
    color: brown;
}
.info_painting .fa {
    color: greenyellow;
}
.info_photos .fa {
    color: darkorange;
}
.info_travels .fa {
    color: forestgreen;
}
.info_webdev .fa {
    color: deeppink;
}
.info_links .fa {
    color: grey;
}
.info_ideas .fa {
    color: orange;
}
.info_shares .fa {
    color: skyblue;
}
.info_work .fa {
    color: white;
}
.info_birthday .fa {
    color: hotpink;
}
.info_things .fa {
    color: green;
}
.info_things {
    height: 1.3em;
    overflow: hidden;
}
.info_things span {
    padding: 0 0.1em;
}
.info_things span:nth-child(1) {
    color: indigo
}
.info_things span:nth-child(2) {
    color: crimson
}
.info_things span:nth-child(3) {
    color: darkgoldenrod
}
.info_things span:nth-child(4) {
    color: cadetblue
}
.info_things span:nth-child(5) {
    color: darkmagenta
}
.info_things span:nth-child(6) {
    color: forestgreen
}
